tenant_biz/zero-biz-trade/src/main/resources/com/minigod/zero/111.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MARKETID" type="xs:string"/>
  <xs:element name="INSTRUMENTID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="00001"/>
        <xs:enumeration value="00002"/>
        <xs:enumeration value="00003"/>
        <xs:enumeration value="00004"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MARGINPERCENTAGE">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="TYPE" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RECORD">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MARKETID"/>
        <xs:element ref="INSTRUMENTID"/>
        <xs:element ref="MARGINPERCENTAGE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TIME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="TYPE"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ARGUMENTS" type="xs:string"/>
  <xs:element name="SUCCESS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TIME"/>
        <xs:element ref="ARGUMENTS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESULT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RECORD" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RETURNCODE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SUCCESS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RESULT"/>
        <xs:element ref="RETURNCODE"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ID"/>
    </xs:complexType>
  </xs:element>
</xs:schema>